<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../public/css/toastr.css" />
    <link rel="stylesheet" href="../../public/css/select2.min.css" />
    <link rel="stylesheet" href="../../public/css/main.css" />
    <title>{{title}}</title>
</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img class="nav-img-icon" src="../../public/images/main.jpg" />&nbsp;&nbsp;
            <a class="navbar-brand" href="/">Gameover</a>
            <marquee style="color: #fff;">Upcoming releases:
                Gotham Knights
                OCT 25</marquee>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Category</button>
                <div id="mydropdown" class="dropdown-content">
                    <a href="/game/puzzle">Puzzle</a>
                    <a href="/game/action">Action/Adventure</a>
                    <a href="/game/race">Racing</a>
                    <a href="/game/sports">Sports</a>
                    <a href="/game/strategy">Strategy</a>
                </div>
            </div>
            <script>
                function myFunction() {
                    document.getElementById("mydropdown").classList.toggle("show");
                }

                window.onclick = function (event) {
                    if (!event.target.matches('.dropbtn')) {
                        var dropdowns = document.getElementsByClassName("dropdown-content");
                        for (let i = 0; i < dropdowns.length; i++) {
                            var open = dropdowns[i];
                            if (open.classList.contains('show')) {
                                open.classList.remove('show');
                            }
                        }
                    }
                }
            </script>
        </nav>
    </header>
    <main>
        <div id="loader" data-wordLoad="Please Waiting" style="display: none;"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {{{body}}}
                </div>
            </div>
        </div>

    </main>


    <script src="../../public/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="../../public/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="../../public/js/jquery.validate.min.js" crossorigin="anonymous"></script>
    <script src="../../public/js/toastr.min.js" crossorigin="anonymous"></script>
    <script src="../../public/js/select2.min.js" crossorigin="anonymous"></script>
    <script src="../../public/js/common.js" crossorigin="anonymous"></script>

    {{#if partial}}
    {{> (lookup . 'partial')}}
    {{/if}}
</body>

</html>