<div class="row justify-content-md-center">
    <div class="col-6 align-self-center">
        <div class="card">
            <div class="card-header">
                <h2>Add Hotel</h2>
            </div>
            <div class="card-body ">
                <form id="frm_addHotel" method="post" enctype="multipart/form-data" action="/hotels/addHotel">
                    <div class="form-group">
                        <label for="txtName">Name</label>
                        <input name="name" type="text" class="form-control" id="txtName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="txtAddress">Address</label>
                        <input name="address" type="text" class="form-control" id="txtAddress" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label for="txtCity">City</label>
                        <input name="city" type="text" class="form-control" id="txtCity" placeholder="City">
                    </div>
                    <div class="form-group">
                        <label for="txtState">State</label>
                        <input name="state" type="text" class="form-control" id="txtState" placeholder="State">
                    </div>
                    <div class="form-group">
                        <label for="txtZipCode">Zip Code</label>
                        <input name="zipCode" type="text" class="form-control" id="txtZipCode" placeholder="Zip Code">
                    </div>
                    <div class="form-group">
                        <label for="ddlCategory">Category</label>
                        <select id="ddlCategory" name="category" class="form-control">
                            <option value="" selected>Select Category</option>
                            {{#each categories}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtPriceRange">Price Range</label>
                        <input name="priceRange" type="text" class="form-control" id="txtPriceRange"
                            placeholder="Price Range">
                    </div>
                    <div class="form-group">
                        <label for="ddlOnSiteServices">On Site Services</label>
                        <select id="ddlOnSiteServices" name="onSiteServices" class="form-control" multiple>
                            {{#each onSiteServices}}
                            <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="txtLatitude">Latitude</label>
                        <input name="latitude" type="text" class="form-control" id="txtLatitude" placeholder="Latitude">
                    </div>
                    <div class="form-group">
                        <label for="txtLongtitude">Longtitude</label>
                        <input name="longtitude" type="text" class="form-control" id="txtLongtitude"
                            placeholder="Longtitude">
                    </div>
                    <div class="form-group">
                        <label for="uplImages">Images</label>
                        <input name="images" type="file"  id="uplImages" multiple
                            accept="image/png, image/jpeg">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="images-list">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary text-center">Add Hotel</button>
                </form>


            </div>
        </div>
    </div>

</div>