<div class="container signup-form">
  <div class="row justify-content-center">
    <h1>SIGN UP</h1>
  </div>
  <form id="Signup-form" action="javascript:;">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" name="firstname"
          placeholder="First Name">
      </div>
      <div class="form-group col-md-6">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" id="lastname" name="lastname"
          placeholder="Last Name">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username"
          placeholder="Username">
      </div>
      <div class="form-group col-md-6">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password"
          placeholder="Password">
      </div>
    </div>

    <div class="row justify-content-center">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
    <div class="row justify-content-center">
      <a href="/login">Already a user? Please Login Here</a>
    </div>


  </form>

</div>